In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
df = pd.read_csv(Path("Resources/lending_data.csv"))

# Review the DataFrame
# YOUR CODE HERE!
display(df.head())
display(df.tail())

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
# Separate the data into labels and features
# Separate the y variable, the labels
# YOUR CODE HERE!]

y = df["loan_status"]

# Separate the X variable, the features
# YOUR CODE HERE!
X = df.drop(columns=["loan_status"])

In [4]:
# Review the y variable Series
print(y)

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [5]:
# Review the X variable DataFrame
# YOUR CODE HERE!

print(X)

       loan_size  interest_rate  borrower_income  debt_to_income  \
0        10700.0          7.672            52800        0.431818
1         8400.0          6.692            43600        0.311927
2         9000.0          6.963            46100        0.349241
3        10700.0          7.664            52700        0.430740
4        10800.0          7.698            53000        0.433962
...          ...            ...              ...             ...
77531    19100.0         11.261            86600        0.653580
77532    17700.0         10.662            80900        0.629172
77533    17600.0         10.595            80300        0.626401
77534    16300.0         10.068            75300        0.601594
77535    15600.0          9.742            72300        0.585062

       num_of_accounts  derogatory_marks  total_debt
0                    5                 1       22800
1                    3                 0       13600
2                    3                 0       16100
3                    5                 1       22700
4                    5                 1       23000
...                ...               ...         ...
77531               12                 2       56600
77532               11                 2       50900
77533               11                 2       50300
77534               10                 2       45300
77535                9                 2       42300

[77536 rows x 7 columns]

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [6]:
count_y = y.value_counts()
count_y

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [7]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
# YOUR CODE HERE!

X_train,X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [8]:
X_train

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
44997,8500.0,6.722,43900,0.316629,3,0,13900
13468,10000.0,7.360,49900,0.398798,4,0,19900
52163,8400.0,6.708,43700,0.313501,3,0,13700
5330,11000.0,7.779,53800,0.442379,5,1,23800
9982,8900.0,6.924,45800,0.344978,3,0,15800
...,...,...,...,...,...,...,...
28028,10000.0,7.389,50100,0.401198,4,1,20100
18051,8700.0,6.809,44700,0.328859,3,0,14700
23757,8900.0,6.897,45500,0.340659,3,0,15500
6607,10300.0,7.494,51100,0.412916,4,1,21100
56309,9100.0,6.980,46300,0.352052,3,0,16300

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [9]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!
model = LogisticRegression(solver = 'lbfgs', random_state=1)
# Fit the model using training data

model.fit(X_train, y_train)

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [10]:
# Make a prediction using the testing data
# YOUR CODE HERE!

prediction_train = model.predict(X_train)

prediction_test = model.predict(X_test)

In [11]:
print(f' Train_Prediction = {prediction_train} \n  Test_Prediction = {prediction_test}')

print(f"Training Data score: {model.score(X_train, y_train)}")

print(f"Training Data score: {model.score(X_test, y_test)}")

 Train_Prediction = [0 0 0 ... 0 0 0]
  Test_Prediction = [0 0 0 ... 0 0 0]
Training Data score: 0.9914878250103177
Training Data score: 0.9924164259182832

In [12]:
results = pd.DataFrame({
      "Predicted Test Value" : prediction_test,
    "Actual Test Value": y_test
})

results.head(20)

       Predicted Test Value  Actual Test Value
36831                     0                  0
75818                     0                  1
36563                     0                  0
13237                     0                  0
43292                     0                  0
68423                     0                  0
37714                     0                  0
64870                     0                  0
47959                     0                  0
49                        0                  0
4010                      0                  0
44780                     0                  0
8147                      0                  0
51770                     0                  0
133                       0                  0
67757                     0                  0
15207                     0                  0
36131                     0                  0
70949                     0                  0
68035                     0                  0

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [13]:
# Print the balanced_accuracy score of the model
# YOUR CODE HERE!
balanced_accuracy_score(y_test, prediction_test)

0.9442676901753825

In [14]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!
c_matrix = confusion_matrix(y_test, prediction_test)
c_matrix

array([[18679,    80],
       [   67,   558]], dtype=int64)

In [15]:
# Print the classification report for the model
# YOUR CODE HERE!
c_report = classification_report(y_test, prediction_test)

print(c_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     18759
           1       0.87      0.89      0.88       625

    accuracy                           0.99     19384
   macro avg       0.94      0.94      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** For all the Healthy Loans Predictions made, it was able to generate 100% accurate results. However for all the Non Healthy Loans (High Risk) predictions made, only 87% were right , i.e it predicted 13% Healthy loans as Non Healthy loans. 

In terms of Recall : it was able to predict all healthy loans accurately , however out of all the non Healthy loans in the data, it was able to predict only 89% of them correctly.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [16]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler
random_model = RandomOverSampler(random_state = 1)

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!

# Fit the original training data to the random_oversampler model
# YOUR CODE HERE!
X_random, y_random = random_model.fit_resample(X_train, y_train)

In [17]:
# Count the distinct values of the resampled labels data
# YOUR CODE HERE!
y_random.value_counts()

0    56277
1    56277
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [18]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!
R_model = LogisticRegression(solver= 'lbfgs', random_state=1)
# Fit the model using the resampled training data
# YOUR CODE HERE!
R_model.fit(X_random, y_random)

# Make a prediction using the testing data
# YOUR CODE HERE!
R_predictions = R_model.predict(X_test)

In [19]:
R_results = pd.DataFrame({
    "Random Predictions": R_predictions,
    "Actual Outcome" : y_test
})

R_results.head(10)

       Random Predictions  Actual Outcome
36831                   0               0
75818                   1               1
36563                   0               0
13237                   0               0
43292                   0               0
68423                   0               0
37714                   0               0
64870                   0               0
47959                   0               0
49                      0               0

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [20]:
# Print the balanced_accuracy score of the model 
# YOUR CODE HERE!
R_accuracy_score = balanced_accuracy_score(y_test, R_predictions)
print(R_accuracy_score)

0.9959744975744975

In [21]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!

R_confusion_matrix = confusion_matrix(y_test, R_predictions)
print(R_confusion_matrix)

[[18668    91]
 [    2   623]]

In [22]:
# Print the classification report for the model
# YOUR CODE HERE!

R_classification_report = classification_report(y_test, R_predictions)
print(R_classification_report)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     18759
           1       0.87      1.00      0.93       625

    accuracy                           1.00     19384
   macro avg       0.94      1.00      0.96     19384
weighted avg       1.00      1.00      1.00     19384

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** he resampled logistic regression model predicts a healthy, low-risk loan with 100% precision. It predicts a high-risk loan with lower precision at 87%. The balanced accuracy of the model is 100%.